# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# Logs
*.log

# Database
*.db
*.sqlite

# Mac / Windows
.DS_Store
Thumbs.db

# Models
*.gguf
models/

# Streamlit cache
.streamlit/

project_dump.txt
project_dump_BeforeUMLS.txt
tree_view.py
export_code.py
debug_s2.py